lesson9/src/main/resources/xml/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="Product"
        elementFormDefault="qualified">
    <complexType name="Product">
        <sequence>
            <element name="id" type="positiveInteger"/>
            <element name="name" type="string"/>
            <element name="price" type="positiveInteger"/>
            <element name="weight" type="positiveInteger"/>
        </sequence>
    </complexType>
</schema>